.overlay {
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(11deg, rgba(0,0,0,0.6393907904958859) 100%, rgba(0,0,0,0.21081936192445727) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 150px;
        font-family: 'Lobster', cursive;
    };

    p{
        font-size: 50px;
    };

};

.video {
    position: relative;
    
};
.video-header {
    width: 100%;
    height: 30%;
    display: block;
};




