h2{
    font-size: 50px;
    text-align: center;
}

.contenedor-prom{
    text-align: center;
}
.info{
    display: flex;
    flex-direction: column;
}
.info h2{
    border-radius: 50%;
    font-size: 60px;
    margin: auto;
    background-color: #00a9a5ff;
    text-align: center;
}

.video-prom video{
    padding: 100px;
    max-width: 100%;
    filter: drop-shadow(2px 4px 5px #092327ff);
}

@media (max-width:490px){
    .contenedor-prom{
        flex-direction: column;
    }
}