h2 {
    font-size: 100px;
    font-family: 'Lobster', cursive;
    text-align: center;
};

.imgs-main {
    margin-top: 100px;
    display: flex;
    justify-content: space-between
};

.img-main {
    max-width: 300px;
    justify-content: space-between;
};