@media (max-width:490px){
    .navegacion{flex-direction: column;
        justify-content: center;
        align-items: center;
        position: initial;
}

}
@media (max-width:700px){
    h1{
        font-size: 80px;
    }
    .navegacion{flex-direction: column;
        justify-content: center;
        align-items: center;
        position: initial;}
}




    
    
    