@mixin tip {
    width: 80%;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 4px;
    border: 1px solid aqua ;
    box-shadow: 19px 22px 8px 0px rgba(0,0,0,0.1);
};

.tip img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px white;
};

.tip {
    @include tip();
}